/*
* Variables couleurs
*/

:root {
    --primary: #ffffff;
    --secondary: #2dedf5;
    --bg: #111;
    --text: var(--primary);
    --title: var(--primary);
}

$colors: ('primary', 'secondary', 'text', 'title');

$bgColors: ('primary');

$borderColors: ('primary');
