/*
* Block
*/

.c-block {
    padding: 1.6rem;
    @include corner(1.2);
}

/*
* Icon
*/
.c-blockIcon {
    display: flex;
    align-items: flex-start;
    gap: 3.2rem;

    @media (orientation: portrait) {
        flex-direction: column;
    }
}

.c-blockIcon__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    color: var(--primary);
    flex-shrink: 0;

    @include corner(1.2);

    [class*='c-icon-'] {
        --iconSize: 7.2rem;
    }
}

/*
* Corner
*/
.c-blockCorner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

    padding: 1.2rem;
    color: var(--primary);
    flex-shrink: 0;
    text-align: center;

    @include corner(1.2);

    [class*='c-icon-'] {
        --iconSize: 9.6rem;
    }

    .c-grid__tile & {
        height: 100%;
    }
}

.c-blockCorner--injury {
    @media (orientation: portrait) {
        gap: 1.6rem;
        flex-direction: row;
        text-align: left;

        [class*='c-icon-'] {
            --iconSize: 8rem;
        }
    }
}
