/*
* Grid
*/

.c-grid {
    --gridColumn: 2;
    --gridRows: 2;
    --gridGap: 2.4rem;

    display: grid;
    gap: var(--gridGap);

    @media (orientation: landscape) {
        height: 100%;
        grid-template-columns: repeat(var(--gridColumn), 1fr);
        grid-auto-rows: calc(
            (100dvh - ((var(--gridGap) * (var(--gridRows) + 1)))) / var(--gridRows)
        );
    }

    @media (orientation: portrait) {
        grid-template-columns: repeat(var(--gridColumn), 1fr);
        grid-auto-rows: calc((100dvh - (var(--gridGap) * 3) - var(--headerSize)) / var(--gridRows));
    }

    /*@include mq(max, bp(xs)) {
        grid-template-columns: 1fr;
    }*/
}

.c-grid__tile {
    &.centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c-button {
        height: 100%;
        width: 100%;
    }

    &.wideH {
        grid-row: span 2;
    }

    &:not(.wideH) {
        > div,
        form,
        .c-list,
        .c-button {
            height: 100%;
            width: 100%;
        }
    }
}

.c-grid--singleRow {
    --gridRows: 1;

    @media (orientation: portrait) {
        --gridColumn: 1;
        --gridRows: 2;
    }
}
