/*
* Grid
*/

.c-grid {
    display: grid;
    gap: 2.4rem;

    form,
    .c-button {
        height: 100%;
        width: 100%;
    }
}

.c-grid--2 {
    grid-template-columns: 1fr 1fr;

    @media (orientation: portrait) {
        grid-template-columns: 1fr;
    }
}
