/*-----------------------------------------------------------------------------------------------------
  [component:header]
-------------------------------------------------------------------------------------------------------*/
:root {
    --headerSize: 6.5rem;
}

.c-header {
    //view-transition-name: page-header;

    background-color: var(--bg);
    flex-shrink: 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zindex-sticky);

    @media (orientation: landscape) {
        bottom: 0;
    }

    @media (orientation: portrait) {
        right: 0;
        left: 0;
    }
}

.c-header__content {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1rem;

    @media (orientation: landscape) {
        flex-direction: column;
        //justify-content: space-between;

        height: 100vh;
        width: var(--headerSize);

        position: sticky;
        top: 0;
        z-index: var(--zindex-sticky);

        border-right: 1px solid white;
    }

    @media (orientation: portrait) {
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        height: var(--headerSize);

        border-bottom: 1px solid white;
    }
}

.c-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;

    @media (orientation: landscape) {
        flex-direction: column;
        margin-top: auto;
    }

    @media (orientation: portrait) {
        flex-direction: row;
        margin-left: auto;
    }
}

.c-header__logo {
    img {
        max-width: 4rem;
    }
}

.c-header__title {
    font-weight: 400;
    font-size: 1.2rem;
    @media (orientation: landscape) {
        transform: rotate(-90deg) translateX(50%);
        white-space: nowrap;
        transform-origin: center;
    }
}
