/*
* Injury treat
*/

.c-injury {
    display: inline-flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1rem;
    //border: 1px solid white;

    [class*='c-icon-'] {
        --iconSize: 5.6rem;
    }
}

.c-injury__icon {
    padding: 1.2rem;
    color: var(--primary);

    @include corner(1.2);
}

.c-injury__title {
    font-size: 5.6rem;
    text-transform: uppercase;
    font-weight: 700;
}

.c-injury__text {
    font-size: 1.2rem;
}
