/*
* Menu
*/
.c-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg);
    z-index: var(--zindex-fixed);
    transition: 200ms ease-in-out;

    @media (orientation: landscape) {
        left: var(--headerSize);
    }

    @media (orientation: portrait) {
        top: var(--headerSize);
    }

    &:not(.active) {
        opacity: 0;
        pointer-events: none;
    }
}

.c-menu__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c-menu__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .c-button {
        width: 100%;
        max-width: 40rem;
    }
}
