{% extends "components/_templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Options" %}
{% set body_class = "" %}
{% set content_class = "c-content--page" %}

{% set header = { show: false, backUrl: "{{ 'app-index' | path }}" } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <h1 class="c-title">{{ page_title }}</h1>

    <ul class="c-buttonList">
        <li class="c-buttonList__item">
            <button class="c-button c-button--secondary c-button--icon-left c-icon-upload">
                Exportez les données
            </button>
        </li>
        <li class="c-buttonList__item">
            <button class="c-button c-button--secondary c-button--icon-left c-icon-download">
                Importer les données
            </button>
        </li>
        <li class="c-buttonList__item">
            <button
                id="showModal"
                class="c-button c-button--secondary c-button--icon-left c-icon-cross"
            >
                Supprimer les données
            </button>
        </li>
    </ul>

    <div class="c-buttonGroup u-mt-32">
        <a
            href="{{ 'app-index' | path }}"
            class="c-button c-button--primary c-button--icon-left c-icon-arrow-left"
            >Retour</a
        >
    </div>

    <dialog class="c-dialog" id="alertDialog">
        <h2 class="c-dialog__title">Supprimer les données ?</h2>
        <p>
            Attention vous allez supprimer toutes les données, vous pouvez les sauvegarder en
            utilisant "Exportez les données". Voulez-vous continuer ?
        </p>
        <div class="c-buttonGroup">
            <button id="resetData" type="button" class="c-button c-button--primary">
                Oui, supprimer les données
            </button>
            <button id="closeModal" type="button" class="c-button c-button--secondary">
                Annuler
            </button>
        </div>
    </dialog>
{% endblock %}
<!-- //END page Content -->

<!-- Custom JS -->
{% block custom_js %}
    <script>
        // Modal
        let showModal = document.querySelector('#showModal');
        let closeModal = document.querySelector('#closeModal');
        const alertDialog = document.getElementById('alertDialog');

        showModal.onclick = () => {
            alertDialog.showModal();
        };

        closeModal.onclick = () => {
            alertDialog.close();
        };
    </script>
{% endblock %}
