{% extends "components/_templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Accueil" %}
{% set body_class = "" %}
{% set content_class = "c-content--hp" %}

{% set header = { show: true, home: true } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <div class="c-loader" id="loader">
        <div class="c-loader__spinner"></div>
        Chargement...
    </div>
    <div>
        <ul class="c-grid">
            <li class="c-grid__tile">
                <a
                    class="c-button c-button--primary c-button--tile c-icon-arrow-right"
                    href="{{ 'game-start' | path }}"
                >
                    <span class="c-button__content">Continuer <strong>"{games.name}"</strong></span>
                </a>
            </li>
            <li class="c-grid__tile">
                <a
                    class="c-button c-button--primary c-button--tile c-icon-file-plus"
                    href="{{ 'game-add' | path }}"
                >
                    <span class="c-button__content">Nouvelle partie</span>
                </a>
            </li>
            <li class="c-grid__tile">
                <a
                    class="c-button c-button--primary c-button--tile c-icon-file-up"
                    href="{{ 'game-list' | path }}"
                >
                    <span class="c-button__content">Charger une partie</span>
                </a>
            </li>
            <li class="c-grid__tile">
                <a
                    class="c-button c-button--primary c-button--tile c-icon-settings"
                    href="{{ 'app-settings' | path }}"
                >
                    <span class="c-button__content">Options</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

<!-- //END page Content -->
