{% extends "components/_templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Le patient soufre d'une fracture" %}
{% set body_class = "" %}
{% set content_class = "c-content--treat" %}

{% set header = { show: true } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <form class="c-injuryTreat" action="{{ 'game-end' | path }}">
        <div class="c-injuryTreat__steps">
            <div class="c-injuryTreat__step">
                <span class="c-injuryTreat__number">1</span>
            </div>
            <div class="c-injuryTreat__step">
                <span class="c-injuryTreat__number">2</span>
            </div>
            <div class="c-injuryTreat__step">
                <span class="c-injuryTreat__number">3</span>
            </div>
        </div>

        <ul class="c-injuryTreat__list">
            <li data-item="1" class="c-injuryTreat__listItem">
                <h2 class="c-injuryTreat__title">
                    <span id="progress" class="c-injuryTreat__progress"></span>
                    <span class="c-icon-bandage c-icon--left"></span>
                    <p>Immobiliser la fracture</p>
                    <span id="percent" class="c-injuryTreat__percent"></span>
                </h2>
                <div class="c-injuryTreat__content">
                    <button
                        data-next="2"
                        type="button"
                        class="c-button c-button--primary c-button--icon-right c-icon-arrow-right  c-injuryTreat__button"
                        disabled
                    >
                        Etape suivante
                    </button>
                </div>
            </li>
            <li data-item="2" class="c-injuryTreat__listItem">
                <h2 class="c-injuryTreat__title">
                    <span class="c-injuryTreat__progress"></span>
                    <span class="c-icon-adrenaline c-icon--left"></span>
                    <p>Injecter l'adrenaline</p>
                    <span class="c-injuryTreat__percent"></span>
                </h2>
                <div class="c-injuryTreat__content">
                    <button
                        data-next="3"
                        type="button"
                        class="c-button c-button--primary c-button--icon-right c-icon-arrow-right c-injuryTreat__button"
                        disabled
                    >
                        Etape suivante
                    </button>
                </div>
            </li>
            <li data-item="3" class="c-injuryTreat__listItem">
                <h2 class="c-injuryTreat__title">
                    <span class="c-injuryTreat__progress"></span>
                    <span class="c-icon-splint c-icon--left"></span>
                    <p>Poser une attelle</p>
                    <span class="c-injuryTreat__percent"></span>
                </h2>
                <div class="c-injuryTreat__content">
                    <button
                        data-next="last"
                        type="submit"
                        class="c-button c-button--primary c-button--icon-right c-icon-check c-injuryTreat__button"
                        disabled
                    >
                        Terminer
                    </button>
                </div>
            </li>
        </ul>
    </form>
    <br /><br /><br />
{% endblock %}
<!-- //END page Content -->

<!-- Custom JS -->
{% block custom_js %}
    <script>
        /*
         * Treat injury
         */

        const headerSteps = document.querySelectorAll('.c-injuryTreat__step');
        const treatSteps = document.querySelectorAll('.c-injuryTreat__listItem');

        // Active first step
        headerSteps[0].classList.add('active');
        treatSteps[0].classList.add('active');
        startProgress(treatSteps[0], 1);

        // Next step
        const buttons = document.querySelectorAll('.c-injuryTreat__button');

        buttons.forEach((button) => {
            button.addEventListener('click', () => {
                let parentStep = button.closest('.c-injuryTreat__listItem');

                if (parentStep && parentStep.classList.contains('active')) {
                    let nextIndex = button.getAttribute('data-next');
                    let nextStep = document.querySelector('[data-item="' + nextIndex + '"]');

                    if (nextStep && nextStep.classList.contains('c-injuryTreat__listItem')) {
                        parentStep.classList.remove('active');
                        parentStep.classList.add('done');
                        nextStep.classList.add('active');

                        headerSteps[nextIndex - 2].classList.remove('active');
                        headerSteps[nextIndex - 2].classList.add('done');
                        headerSteps[nextIndex - 1].classList.add('active');

                        console.log();

                        startProgress(nextStep, 1);
                    } else {
                        console.log('This is the last item, no next sibling.');
                    }
                }

                /*const parentStep = button.closest('.c-injuryTreat__listItem');

                if (parentStep && parentStep.classList.contains('active')) {
                    const nextStep = parentStep.nextElementSibling;

                    if (nextStep && nextStep.classList.contains('c-injuryTreat__listItem')) {
                        parentStep.classList.remove('active');
                        parentStep.classList.add('done');
                        nextStep.classList.add('active');

                        startProgress(nextStep, 1);
                    } else {
                        console.log('This is the last item, no next sibling.');
                    }
                }*/
            });
        });

        // Progress function
        function startProgress(item, duration) {
            const progress = item.querySelector('.c-injuryTreat__progress');
            const progress_percent = item.querySelector('.c-injuryTreat__percent');
            const button = item.querySelector('.c-injuryTreat__button');

            const interval = 100; // ms
            const steps = (duration * 1000) / interval;
            let current = 0;

            const timer = setInterval(() => {
                current++;
                const percent = (current / steps) * 100;
                progress.style.width = percent + '%';
                progress_percent.textContent = Math.floor(percent) + '%';

                if (current >= steps) {
                    clearInterval(timer);
                    button.disabled = false;
                }
            }, interval);
        }
    </script>
{% endblock %}
