{% extends "components/_templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Paramètre de la partie" %}
{% set body_class = "" %}
{% set content_class = "c-content--page" %}

{% set header = { show: true, backUrl: "{{ 'app-index' | path }}" } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <h1 class="c-title">{{ page_title }}</h1>

    <form class="c-form" action="{{ 'game-start' | path }}">
        <div class="c-field">
            <div class="c-field__wrapper">
                <label class="c-label" for="game_healing_timing">Temps de soin moyen</label>
                <input class="c-input" value="60" type="number" id="game_healing_timing" />
            </div>
            <p class="c-label__hint">
                En seconde.<br />
                Cela affectera le temp de diagnostique afin de rallonger ou écourter le soin selon
                la valeur choisie.
            </p>
        </div>

        <div class="c-field c-field--checkbox ">
            <div class="c-field__wrapper">
                <input class="c-checkbox" value="" type="checkbox" id="game_death" />
                <label class="c-label" for="game_death">Mort active ?</label>
            </div>
            <p class="c-label__hint">Active le risque de décéder d'une blessure grave<br /></p>
        </div>

        <div class="c-buttonGroup">
            <button type="submit" class="c-button c-button--primary">Valider</button>
            <a href="{{ 'app-index' | path }}" class="c-button c-button--secondary">Annuler</a>
        </div>
    </form>
{% endblock %}

<!-- //END page Content -->
