{% extends "components/_templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Old Sacarab 3" %}
{% set body_class = "" %}
{% set content_class = "c-content--page" %}

{% set header = { show: true, backUrl: "" } %}
<!-- //END page variables -->

<!-- //START page Content -->
{% block page_content %}
    <h1 class="c-title">{{ page_title }}</h1>

    <div class="c-grid c-grid--2 u-mb-32">
        <a
            href="{{ 'game-injury-localisation' | path }}"
            class="c-button c-button--lg c-button--primary"
        >
            Nouveau patient
        </a>

        <ul class="c-list c-list--corner ">
            <li class="c-list__item">Temps de soin : <span>30s</span></li>
            <li class="c-list__item">Mort active : <span>Non</span></li>
        </ul>
    </div>

    <div class="c-buttonGroup">
        <a href="{{ 'game-settings' | path }}" class="c-button c-button--sm c-button--secondary"
            >Paramètres</a
        >
        <a href="{{ 'game-stats' | path }}" class="c-button c-button--sm c-button--secondary"
            >Stats</a
        >
    </div>
{% endblock %}

<!-- //END page Content -->
