<header id="{{ header.id }}" class="c-header {{ header.class }}" role="banner">
    <div class="c-header__content">
        <a href="{{ 'app-index' | path }}" class="c-header__logo">
            <img src="{{ '/images/logo.svg' | path }}" alt="Logo" width="45" height="45" />
        </a>
        <nav class="c-header__nav" role="navigation" aria-label="main navigation">
            {% if header.backUrl %}
                <a href="{{ header.backUrl }}" class="c-button c-button--ghost c-icon-arrow-back">
                    <span class="c-button__content">Retour</span>
                </a>
            {% endif %}
            <button
                type="button"
                class="c-button c-button--ghost c-icon-menu"
                onclick="toggleMenu()"
            >
                <span class="c-button__content">Ouvrir le menu</span>
            </button>
        </nav>
    </div>
</header>

{% include "components/_templates/components/menu.html" %}

<script>
    /*
     * Menu open/close
     */

    function toggleMenu() {
        const menu = document.getElementById('menu');
        menu.classList.toggle('active');
    }
</script>
