<div id="menu" class="c-menu {{ header.class }}">
    <div class="c-menu__content">
        <ul class="c-menu__list">
            {% if header.currentGame %}
                <li>
                    <a href="{{ 'game-start' | path }}" class="c-button c-button--secondary">
                        Annuler le soin
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ 'app-index' | path }}" class="c-button c-button--secondary">
                    Quitter la partie
                </a>
            </li>
            <li>
                <button type="button" class="c-button c-button--secondary" onclick="toggleMenu()">
                    Fermer le menu
                </button>
            </li>
        </ul>
    </div>
</div>
