<div id="menu" class="c-menu {{ header.class }}">
    <div class="c-menu__content">
        <ul class="c-menu__list">
            <li>
                <a href="{{ 'game-start' | path }}" class="c-button c-button--secondary">
                    Retour à l'accueil
                </a>
            </li>
            <li>
                <a href="{{ 'game-settings' | path }}" class="c-button c-button--secondary">
                    Paramètres de la partie
                </a>
            </li>
            <li>
                <a href="{{ 'app-index' | path }}" class="c-button c-button--secondary">
                    Quitter la partie
                </a>
            </li>
            <li>
                <button type="button" class="c-button c-button--secondary" onclick="toggleMenu()">
                    Fermer le menu
                </button>
            </li>
        </ul>
    </div>
</div>
